// Fuentes
$fuentePrincipal:'Roboto', sans-serif;
//Media Querys
$telefono:480px;
$tablet:768px;
$desktop:1024px;

//Colores
$colorHeader:#f7f4eb;
$primario:#E8505B;
$secundario:#455A64;
$negro:#000000;
$blanco:#FFFFFF;
$grisClaro:#eceeef;

//Unidades
$separacion:5rem;